.particles-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    pointer-events: none;
    /* Let clicks pass through by default */
}

.particles-container canvas {
    display: block;
    width: 100%;
    height: 100%;
}